table {
  border-collapse: collapse;
  width: 45%;
}

table > caption {
  font-size: small;
  text-align: left;
}

table > thead > tr {
  background-color: #000;
  color: #fee;
  text-align: left;
}

table > tbody > tr:hover {
  background-color: #eee;
}
