.title {
    color: black;
    font-size: 64px;
    text-align: center;
    margin-bottom: 10px;
}
.italics {
    font-style: italic;
}

#ingredients {
    text-align: center;
    width: 100%;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}

h3 {
    text-align: center;
}
ul {
    padding: 0;
    text-align: center;
}
ol {
    padding: 0;
    list-style-position: inside;
}